{% extends 'base.html' %}

{% block content %}
<div class="span9 well">

<form class="form-horizontal" action="/new" method="post">
<h2>New Paste</h2>
    <div>{{ form.author.label }} {{ form.author() }}</div>
	
		{% if form.errors.has_key('author') %}
			<span class="label label-important">{{ ",".join(form.errors['author']) }}</span>
		{% endif %}
	
	
    <div>{{ form.title.label }} {{ form.title() }}</div>
    
		{% if form.errors.has_key('title') %}
			<span class="label label-important">{{ ",".join(form.errors['title']) }}</span>
		{% endif %}
	
    <div>{{form.language.label}} {{form.language()}}</div>
		
    <div>{{form.code.label}} {{form.code(cols='100', rows='10')|safe}} </div>
		{% if form.errors.has_key('title') %}
			<span class="label label-important">{{ ",".join(form.errors['code']) }}</span>
		{% endif %}
		
    <br/>
              <button type="submit" class="btn btn-info">Paste it</button>
</form>

</div>
{%endblock %}

{%block sidebar%}
    <div class="span3 well">
		
		<h2>Last pastes</h2>
		<br/>
		<dl> 
			{% for p in last5 %}
				<img src="{{ p.gravatar_url() }}" alt="avatar" class="home_image" />
				<dt style='margin-left:8px'><a href="/view/{{p.id}}">{{p.title or 'UNTITLED'}}</a></dt>
				<dd style='margin-left:8px;'>By <span class="label label-success">{{ p.author | capitalize}}</span></dd>
				
				
				<br/>
			{% endfor %}
		</dl>
    
    </div>
	
{%endblock%}
